<!DOCTYPE html5>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Social Chat - Bienvenidos</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
    <header>
        <div class="logo">
            <img src="/assets/logo.jpg" alt="Logo de tu sitio web">
        </div>
        <nav>
            <ul>
                <li><a href="login.html">Iniciar Sesión</a></li>
                <li><a href="register.html">Registrarse</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="presentation">
            <h1>Bienvenidos a Social Media</h1>
            <h2>¿Qué puedes hacer con Social Media?</h2>
            <p>Con Social Media, puedes interactuar con personas de todo el mundo con gustos y objetivos similares, o no!. También tienes la posibilidad de crear un ambiente para generar debates sobre los temas que consideras sensibles.</p>
        </section>

        <section class="features">
            <div class="feature">
                <img src="/assets/imagen1.jpg" alt="Conectar">
                <h3>Conectar</h3>
                <p>Conéctate con personas de todo el mundo.</p>
            </div>
            <div class="feature">
                <img src="/assets/imagen2.jpg" alt="Debates">
                <h3>Debates</h3>
                <p>Crea debates sobre temas de interés.</p>
            </div>
            <div class="feature">
                <img src="/assets/imagen3.jpg" alt="Compartir">
                <h3>Compartir</h3>
                <p>Comparte tus pensamientos y opiniones.</p>
            </div>
        </section>

        <section class="gallery">
            <img src="/assets/imagen4.jpg" alt="Imagen 4">
        </section>
    </main>

    <footer>
        <p>Desarrollado por Grupo 2 - Programación 2 - UPATECO</p>
    </footer>
</body>
</html>
