<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unirse a un Servidor</title>
    <link rel="stylesheet" href="/styles/join_server.css">
</head>
<body>
    <h1>Seleccione un servidor para unirse:</h1>
    <div id="servidoresDisponiblesDiv">
        <!-- Aquí se mostrarán los servidores disponibles -->
    </div>
    <button id="unirseAlServidorButton">Unirse al Servidor</button>

    <script src="/scripts/join_server.js"> </script>
</body>
</html>
