/* Estilos para el body */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #36393f;
    color: #fff;
}

/* Estilos para el botón "Cerrar" */
.cerrar-btn {
    background-color: #202225;
    color: #007bff;
    border: none;
    border-radius: 5px; /* Bordes redondeados */
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; /* Transición suave de color */
}

.cerrar-btn:hover{
    background-color: #007bff; /* Fondo gris oscuro al pasar el mouse */
    color: #0f0f0f; /* Texto negro al pasar el mouse */
}

/* Estilos para el header */
header {
    display: flex;
    justify-content: space-between; /* Espacio entre elementos en el encabezado */
    align-items: center;
    background-color: #202225;
    padding: 10px 20px;
}

/* Estilos para el contenido principal */
main {
    display: grid;
    grid-template-columns: 1fr 2fr 3fr; /* Divide la pantalla en 6 partes */
    gap: 20px; /* Espacio entre los elementos */
}

/* Estilos para los elementos dentro de main */
#servidoresDiv, #canalesDiv, #mensajesDiv {
    background-color: #202225   ; /* Color de fondo (puedes cambiarlo) */
    padding: 20px; /* Espaciado interior */
    border: 1px solid #ccc; /* Borde para separar los elementos (opcional) */
    border-radius: 5px; /* Bordes redondeados (opcional) */
}

/* Estilos para dispositivos pequeños */
@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    .logo {
        margin-bottom: 20px;
    }

    nav ul {
        flex-direction: column;
        text-align: left;
    }

    nav ul li {
        margin: 10px 0;
    }
}

/* Estilos para la sección de presentación */
.presentation h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.presentation h2 {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 10px;
}

/* Estilos para la sección de características */
.features {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.feature {
    flex-basis: calc(33.33% - 20px);
    text-align: center;
}

.feature img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

/* Media query para dispositivos con un ancho máximo de 768px (tablets y celulares) */
@media screen and (max-width: 768px) {
    .features {
        flex-direction: column;
    }

    .feature {
        flex-basis: auto;
        margin-bottom: 10px;
    }
}

/* Estilos para la galería de imágenes */
.gallery {
    text-align: center;
    margin-top: 20px;
}

.gallery img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    display: inline-block;
}

/* Estilos para el footer */
footer {
    text-align: center;
    background-color: #202225;
    padding: 10px 0;
    position: fixed; /* Cambia a posición fija en la parte inferior */
    bottom: 0;
    width: 100%;
}

