/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #36393f; /* Color de fondo similar al de Discord */
    color: #fff; /* Color de texto blanco */
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #202225; /* Color de fondo del encabezado */
    padding: 10px 20px; /* Añadir espacio a los lados */
}

nav ul {
    text-align: center;
    list-style: none;
    margin: 0; /* Quitar margen */
    padding: 0; /* Quitar relleno */
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff; /* Color de texto blanco para los enlaces */
    font-weight: bold;
}

/* Estilo del logo */
.logo {
    display: flex;
    align-items: center; /* Centra verticalmente el contenido del div.logo */
}

.logo img {
    max-width: 25%; /* Tamaño del logo al 25% */
    height: auto;
}

/* Estilo de la navegación */
nav ul {
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex; /* Cambia la lista a un flex container */
    align-items: center; /* Centra verticalmente los elementos de la lista */
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* Estilos para dispositivos pequeños */
@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    .logo {
        margin-bottom: 20px;
    }

    nav ul {
        flex-direction: column;
        text-align: left;
    }

    nav ul li {
        margin: 10px 0;
    }
}

/* Estilos para dispositivos pequeños */
@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    .logo {
        margin-bottom: 20px;
    }

    nav ul {
        flex-direction: column;
        text-align: left; /* Alinear el texto a la izquierda en dispositivos pequeños */
    }

    nav ul li {
        margin: 10px 0; /* Agregar espacio entre elementos en dispositivos pequeños */
    }
}

/* Estilos para el formulario de registro */
.register-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #202225;
    border-radius: 10px;
}

.register-container h1 {
    text-align: center;
}

.register-container label {
    display: block;
    margin-top: 10px;
}

.register-container input,
.register-container select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.register-container button {
    background-color: #202225;
    color: #007BFF;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    text-align: center;
    margin-top: 15px;
    cursor: pointer;
}

.register-container button:hover {
    background-color:#007BFF;
    color: #0f0f0f;
}

.avatar-preview {
    max-width: 100px;
    display: none;
}


/* Estilos para el footer */
footer {
    text-align: center;
    background-color: #202225; /* Color de fondo del pie de página */
    padding: 10px 0;
    position: bottom;
    bottom: 0;
    width: 100%;
    color: #fff;   
}